
<body>
    <p> Hello! This is my recipe collection.</p>
    <table>
      <thead>
        <tr>
          <th>Recipe</th>
          <th>Duration</th>
          <th>Ingredients</th>
        </tr>
      </thead>
      <tbody>
        <% for recipe in @recipes %>
        <tr>
          <td><%= recipe.name() %></td>
          <td><%= recipe.duration() %></td>
          <td><%= recipe.ingredients() %></td>
          <td><a href="/<%=recipe.id%>">View Recipe</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>

</body>
