<!DOCTYPE html>
<html>
<head>
  <title>Recipe Collection</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/">Recipe Collection</a>
    </li>
    <li>
      <a href="/new">Add New Recipe</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>

</html>
