
<body>
  <p>Add a new recipe.</p>
  <form method="post" action="/">
    <label for="name">Recipe Name:</label>
      <input id="name" type="text" name="name">

    <label for="duration">Duration in minutes:</label>
      <input id="duration" type="number" name="duration">

    <label for="ingredients">Ingredients:</label>
      <input id="ingredients" type="text" name="ingredients">

      <input type='submit' value="Add Recipe">

  </form>
</body>
