<h1>Name: <%= @recipes.name %></h1>
<p>Ingredients: <%= @recipes.ingredients %></p>
<p>Duration: <%= @recipes.duration %></p>

<form method="post" action="/<%=@recipes.id%>/delete">
  <input type="submit" value="Delete Recipe"/>
  </form>
